@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Special+Elite&display=swap');

:root {
    --fonte-titulo: "Fredoka", system-ui;
}

/* ===== MOBILE FIRST ===== */
body {
    background-color: #D7A369;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

h1 {
    font-family: var(--fonte-titulo);
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
}

#card {
    display: block;
    /* box-shadow: 0 10px 30px #00000014; */
}

#conteudo {
    margin-bottom: 24px;
    text-align: center;
}

#conteudo img {
    width: 100%;
    /* max-width: 280px;
    min-width: 180px;
    display: block;
    margin: 0 auto; */
    filter: drop-shadow(0 10px 20px #EDD17E);
}

#interacao {
    text-align: center;
}

.frase {
    text-align: center;
    font-size: 16px;
    margin-bottom: 24px;
}

/* BOTÕES */
#botoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

#botoes button {
    flex: auto;
    padding: 10px;
    width: 100px;
    font-weight: bolder;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #a74d18;
    cursor: pointer;
}

#alegriaBtn {
    background-color: #FACC15;
}
#alegriaBtn:hover {
    background-color: #FDE047;
}

#tristezaBtn {
    background-color: #3B82F6;
}
#tristezaBtn:hover {
    background-color: #60A5FA;
}

#raivaBtn {
    background-color: #EF4444;
}
#raivaBtn:hover {
    background-color: #F87171;
}

#medoBtn {
    background-color: #8B5CF6;
}
#medoBtn:hover {
    background-color: #A78BFA;
}

#ansiedadeBtn {
    background-color: #F97316;
}
#ansiedadeBtn:hover {
    background-color: #FB923C;
}

#tedioBtn {
    background-color: #9CA3AF;
}
#tedioBtn:hover {
    background-color: #D1D5DB;
}

#nojoBtn {
    background-color: #22C55E;
}
#nojoBtn:hover {
    background-color: #4ADE80;
}

#vergonhaBtn {
    background-color: #EC4899;
}
#vergonhaBtn:hover {
    background-color: #F472B6;
}

#invejaBtn {
    background-color: #16A34A;
}
#invejaBtn:hover {
    background-color: #22C55E;
}

/* ===== DESKTOP ===== */
@media (min-width: 768px) {
  #card {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  #conteudo {
    text-align: left;
    margin-bottom: 0;
  }

  #interacao {
    text-align: left;
  }

  #botoes {
    grid-template-columns: repeat(4, 1fr);
  }
}
